<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <!--je peux importer des fichiers css disponibles dans le dossier : static (dossier accessible publiquement) -->
    <link rel="stylesheet" href="style.css">
</head>
<body>

<form method="POST" action="/hello" >
    <input name="nom" type="text" placeholder="Entrer votre nom"/>
    <button>Envoyer</button>
</form>

<!--
    syntaxe thymeleaf : https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html
    <h1>Hello <span th:text="${nom}"></span> !!</h1>
-->
<!--
    syntaxe mustache (nécessite définir : spring.mustache.suffix=.html dans application.properties)
    https://www.baeldung.com/spring-boot-mustache
-->
<!--
{{#nom}}{{/nom}} : bloc if (nom != null){...} en syntaxe mustache
Ici : on veut afficher la section suivante seulmeent si un attribut nom est présent dans le model
-->
{{#nom}}
    <h1>Hello {{nom}} !!</h1>
{{/nom}}

</body>
</html>